<section id="hero" class="d-flex align-items-center">
  <div class="container">
    <div class="row">
      <div
        class="col-lg-6 d-lg-flex flex-lg-column justify-content-center align-items-stretch pt-5 pt-lg-0 order-2 order-lg-1"
        data-aos="fade-up">
        <div>
          <h1>Nueva Cripto Moneda Peruana</h1>
          <h2>CriptoSol es una nueva criptomoneda que busca revolucionar la forma en que interactuamos con las finanzas
            digitales. Inspirada en la solidez y el brillo del Sol, CriptoSol se compromete a brindar una experiencia
            segura, transparente y accesible para todos los usuarios.</h2>
        </div>
      </div>
      <div class="col-lg-6 d-lg-flex align-items-stretch order-1 order-lg-2 hero-img" data-aos="fade-up">
        <img src="assets/IMG-1.png" class="img-fluid" alt="CriptoSol">
      </div>
    </div>
  </div>
</section>

<section id="features" class="features">
  <div class="container">
    <div class="section-title">
      <h2>¿Por qué elegirnos?</h2>
      <p>Aquí algunas razones para elegirnos</p>
    </div>
    <div class="row no-gutters">
      <div class="col-xl-7 d-flex align-items-stretch order-2 order-lg-1">
        <div class="content d-flex flex-column justify-content-center">
          <div class="row">
            <div class="col-md-6 icon-box" data-aos="fade-up">
              <i class="bx bx-receipt"></i>
              <h4>Tecnología de vanguardia</h4>
              <p>CriptoSol está construida sobre una base sólida de tecnología moderna como el blockchain, lo que
                garantiza la seguridad y transparencia de todas las transacciones realizadas desde nuestra Dapp.</p>
            </div>
            <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
              <i class="bx bx-cube-alt"></i>
              <h4>Fácil de usar</h4>
              <p>Incluso si eres nuevo en el mundo de las criptomonedas, CriptoSol es fácil de usar y entender. Nuestra
                interfaz intuitiva te permite comenzar a comprar, vender e intercambiar CriptoSol en poco tiempo.</p>
            </div>
            <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
              <i class="bx bx-images"></i>
              <h4>Comunidad vibrante</h4>
              <p>CriptoSol tiene una comunidad en constante crecimiento de usuarios apasionados que están comprometidos
                con el éxito de la moneda. Únete a nosotros y sé parte de algo especial.</p>
            </div>
            <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="300">
              <i class="bx bx-shield"></i>
              <h4>Compromiso y seguridad</h4>
              <p>CriptoSol está dedicada a proporcionar un entorno seguro y confiable para todos sus usuarios,
                manteniendo altos estándares de seguridad y privacidad.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="image col-xl-5 d-flex align-items-stretch justify-content-center order-1 order-lg-2"
        data-aos="fade-left" data-aos-delay="100">
        <img src="assets/IMG-2.png" class="img-fluid" alt="Características de CriptoSol">
      </div>
    </div>
  </div>
</section>

<section id="values" class="values section">
  <div class="container section-title" data-aos="fade-up">
    <h2>OBJETIVOS CUMPLIDOS</h2>
    <p>Algunos de los objetivos cumplidos del proyecto</p>
  </div>
  <div class="container">
    <div class="row gy-4">
      <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
        <div class="card">
          <img src="assets/CONTRATO.png" class="img-fluid" alt="Contrato implementado">
          <h3>Contrato implementado</h3>
          <p>El contrato inteligente ya se ha implementado dentro del proyecto.</p>
        </div>
      </div>
      <div class="col-lg-4" data-aos="fade-up" data-aos-delay="200">
        <div class="card">
          <img src="assets/TRANSFERENCIAS.png" class="img-fluid" alt="Transferencias">
          <h3>Transferencias</h3>
          <p>Las transferencias de persona a persona ya están funcionales.</p>
        </div>
      </div>
      <div class="col-lg-4" data-aos="fade-up" data-aos-delay="300">
        <div class="card">
          <img src="assets/DISEÑO.png" class="img-fluid" alt="Diseño">
          <h3>Diseño</h3>
          <p>El diseño ya está definido e implementado en gran parte del proyecto.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="future-goals" class="values section">
  <div class="container section-title" data-aos="fade-up">
    <h2>OBJETIVOS A FUTURO</h2>
    <p>Estos son algunos de los objetivos que buscamos alcanzar en el futuro</p>
  </div>
  <div class="container">
    <div class="row gy-4">
      <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="100">
        <div class="service-item position-relative">
          <div class="icon"><i class="bi bi-currency-exchange"></i></div>
          <h4><a href="">Transferencias de persona a Gobierno</a></h4>
          <p>Implementar transferencias directas de persona a Gobierno para facilitar el pago de impuestos y servicios.
          </p>
        </div>
      </div>
      <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="200">
        <div class="service-item position-relative">
          <div class="icon"><i class="bi bi-phone"></i></div>
          <h4><a href="">Aplicación móvil</a></h4>
          <p>Desarrollar una aplicación móvil para facilitar el acceso y uso de CriptoSol desde cualquier lugar.</p>
        </div>
      </div>
      <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="300">
        <div class="service-item position-relative">
          <div class="icon"><i class="bi bi-plus-circle"></i></div>
          <h4><a href="">Expansión de funciones</a></h4>
          <p>Agregar nuevas funcionalidades para mejorar la experiencia del usuario y ampliar las posibilidades de uso
            de CriptoSol.</p>
        </div>
      </div>
      <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="400">
        <div class="service-item position-relative">
          <div class="icon"><i class="bi bi-globe"></i></div>
          <h4><a href="">Cobertura Nacional</a></h4>
          <p>Expandir la cobertura de CriptoSol a nivel Nacional, permitiendo su uso en cualquier lugar del país.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="team" class="team section">
  <div class="container">
    <div class="section-title" data-aos="fade-up">
      <h2>Equipo de Desarrollo</h2>
      <p>Integrantes del equipo encargado del desarrollo del proyecto CriptoSol</p>
    </div>
    <div class="row gy-4">
      <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
        <div class="team-member d-flex align-items-start">
          <div class="pic"><img src="assets/USER.png" class="img-fluid" alt="Gian Alexander Nuñez Saenz"></div>
          <div class="member-info">
            <h4>Gian Alexander Nuñez Saenz</h4>
            <span>Developer</span>
            <p>Desarrollador del proyecto CriptoSol</p>
            <div class="social">
              <a href="https://web.facebook.com/" target="_blank" class="facebook"><i class="fab fa-facebook-f"></i></a>
              <a href="https://www.linkedin.com/" target="_blank" class="linkedin"><i class="fab fa-linkedin"></i></a>
              <a href="https://github.com/GianAlexander/AS212S6_T04_CRIPTOSOL" target="_blank" class="github"><i
                  class="fab fa-github"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
        <div class="team-member d-flex align-items-start">
          <div class="pic"><img src="assets/USER.png" class="img-fluid" alt="Pedro Porras"></div>
          <div class="member-info">
            <h4>Pedro Porras</h4>
            <span>Developer</span>
            <p>Desarrollador del proyecto CriptoSol</p>
            <div class="social">
              <a href="https://web.facebook.com/" target="_blank" class="facebook"><i class="fab fa-facebook-f"></i></a>
              <a href="https://www.linkedin.com/" target="_blank" class="linkedin"><i class="fab fa-linkedin"></i></a>
              <a href="https://github.com/GianAlexander/AS212S6_T04_CRIPTOSOL" target="_blank" class="github"><i
                  class="fab fa-github"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>