<header id="header" class="fixed-top">
  <div class="container d-flex align-items-center justify-content-between">
    <div class="logo">
      <h1><a href="index.html">Hello, CriptoSol</a></h1>
    </div>
    <nav id="navbar" class="navbar">
      <ul class="d-flex">
        <li><a class="nav-link scrollto" href="#Inicio">Inicio</a></li>
        <li><a class="nav-link scrollto" href="#PorqueElegirnos">Porque Elegirnos</a></li>
        <li><a class="nav-link scrollto" href="#Objetivos">Objetivos</a></li>
        <li><a class="nav-link scrollto" href="historial">Team</a></li>
        <li><a class="getstarted scrollto" href="trasferencia">Transferir</a></li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav>
  </div>
</header>

<div class="container">
  <router-outlet></router-outlet>
</div>
<footer class="home-footer">
  <div class="footer">
    <ul class="wrapper" data-aos="zoom-in-up" data-aos-duration="2500">
      <li class="icon facebook">
        <span class="tooltip">Facebook</span>
        <span><a href="https://web.facebook.com/" target="_blank"><i class="fab fa-facebook-f"></i></a></span>
      </li>
      <li class="icon twitter">
        <span class="tooltip">Twitter</span>
        <span><a href="https://twitter.com/" target="_blank"><i class="fab fa-twitter"></i></a></span>
      </li>
      <li class="icon instagram">
        <span class="tooltip">Instagram</span>
        <span><a href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram"></i></a></span>
      </li>
      <li class="icon github">
        <span class="tooltip">Github</span>
        <span><a class="fab fa-github" href="https://github.com/GianAlexander/AS212S6_T04_CRIPTOSOL"
            target="_blank"></a></span>
      </li>
    </ul>
    <div class="credit">
      &copy; CRIPTO-SOL <span>Grupo 4 </span> | todos los derechos reservados!
    </div>
  </div>
</footer>